body {
    /* font-family applies to everything inside body */
    /* MS PGothic will probably fail on any device that isn't a windows device */
    font-family: "MS PGothic", "Sawarabi Gothic", sans-serif;
    background-image: url(../images/bg_image.jpg);
    background-color: #D4FBFF;
    background-repeat: repeat-y;
}

h1, h2, h3 {
    text-shadow: 1px 1px 0 #bae3e7;
    font-style: italic;
}

img {
    border: 3px solid rgb(154, 154, 154);;
}

figcaption {
    color: rgb(22, 22, 22);
    font-size: 12px;
    font-weight: bold;
}

fieldset {
    width: 300px;
    text-align: center;
}

hr {
    border-width: 2px;
}

/* classes */
.conv {
    display: flex;
    width: 370px;
    height: 45px;
    background-color: #bae3e7;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(154, 154, 154);
}

.rate {
    background-color: #bae3e7;
    border: 2px solid rgb(154, 154, 154);
}

.rate-legend {
    background-color: #bae3e7;
    border-radius: 1px;
    border-style: inset;
}

.disclaimer {
    color: rgb(22, 22, 22);
    font-size: 12px;
    font-style: italic;
    justify-self: right;
}

.wrapper {
    display: flex;
}

.wrapper div {
    flex: 1;
}

.box2 {
    align-content: center;
}